:root{
  display: grid;
  justify-items: center;
}

.links{
  background-color:  rgba(0, 0, 0, 0.349);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0px;
  padding-left: 0px;
  justify-items: center;
}

.links li{
  list-style: none; 
}

.links a{
  color: beige;
  font-size: 20px;
}

.links a:hover{
  text-decoration: none;
  color: rgb(248, 164, 133);
}

.profile{
  text-align: center;
  width: 100%;
  background-color: rgb(223, 230, 230);
}

.profilephoto{
  margin-top: 40px;
  height:30%;
  width:30%;
  border-radius: 50%;
}

.profilename{
  margin-top: 30px;
}

.profiledesc{
  padding-bottom: 30px; 
}

.profiledesc h6{
  margin-bottom: 0;
}

.skills{
  background-color: rgba(0, 0, 0, 0.349);
  text-align: center;
  margin-top: -8px;
  padding: 20px;
}

.skills h6{
  padding: 10px;
  font-weight: 600;
  font-size: 30px;
}

.projects{
  text-align: center;
}

.projects{
  background-color:  rgb(223, 230, 230);
  font-size: 18px;
  padding:20px;
}

.projects h6{
  padding:10px;
  font-weight: 600;
  font-size: 30px;
}

.projectlinks li{
  list-style: none;
}

.projectlinks a{
  color: black;
}

.projectlinks a:hover{
  color: darkorange;
  text-decoration: none;
}

.blogs{
  text-align: center;
  background-color:  rgba(0, 0, 0, 0.349);
  padding: 20px;
  font-size: 18px;
}

.blogs h6{
  padding:10px;
  font-weight: 600;
  font-size: 30px;
}

.blogs li{
  list-style: none;
}

.blogs a{
  color: black;
}

.blogs a:hover{
  color: darkorange;
  text-decoration: none;
}

.footer{
  text-align: center;
  background-color:rgb(223, 230, 230);
  padding: 20px;
  margin-bottom: 0px;
}

